{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}" type='text/css'>
{% endblock css %}
{% block title %} 로그인 페이지 {% endblock title %}
{% block content %}
    <h1>로그인</h1>
    {% if error %}
    <h3 style="color: red">{{ error }}</h3>
    {% endif %}
    <form method = "POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="이름">
        <input type="password" name="password" placeholder="비밀번호">
        <button type="submit">로그인</button>
    </form>
{% endblock content %}